body{
    background-image: linear-gradient(rgb(106, 5, 238), white 70%);
    /*sets background*/
}


html{
    height: 100%;
    /*sets background to be for the whole page rather than multiple gradients*/
}

h1{
    padding: 25px;
    font-size: 60px;
    display: inline-block;
}

footer{
    position: absolute;
    /*sets the link in the bottom of screen*/
    bottom: 50px;
}

a{
    color: black;
    text-decoration: none;
}

.dropdown{
    display: inline-block;
    margin-left: 250px;
    /*positions the dropdown menu*/
}

.drop-down-menu{
    border-radius: 40px;
    border-bottom:none;
    border-right:none;
    border-left: none;
    font-size: 30px;
    padding: 20px;
    background-color: transparent;
    width: 300px;
    /*styles the drop down button*/
}

.drop-down-menu:hover{
    background: black;
    color:rgb(255, 255, 255);
    cursor: pointer;
    /*styles the drop down button when hovered on*/
}

.drop-down-content{
    display: none;
    position: absolute;
    /*sets position and makes the options not appear when not clicked on*/
}

.drop-down-content button{
    display: inline-block;
    /*makes the options on different lines*/
}

.drop-down-content a{
    display: block;
    text-align: center;
    width: 300px;
}

.drop-down-button:hover{
    background-color: black;
    color: white;
    /*styles the options when hovered on*/
}

.drop-down-button{
    padding: 21px 0px;
    position:relative;
    border-radius: 40px;
    font-size: 30px;
    text-decoration:none;
    background-color: transparent;
    width: 300px;
    border: none;
    /*styles the options*/
}

.show{
    display:block;
    /*used in function to make options appear when clicked
      on*/
}

#experience{
    margin-left: 25px;
    margin-right: 25px;
    /*separates the options*/
}

#exp{
    margin-left: 325px;
}

#ed{
    margin-left: 660px;
}